* {
	box-sizing: border-box;
}

body {
	background-color: hsl(30, 38%, 92%);
	color: hsl(228, 12%, 48%);
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 600px;
	min-height: 400px;
	background-color: white;
	border-radius: 10px;
	display: flex;
}

picture {
	width: 100%;
}

.card picture img {
	display: block;
	max-width: 300px;
	min-height: 400px;
	border-radius: 10px 0 0 10px;
	object-fit: cover;
}

h1 {
	color: hsl(212, 21%, 14%);
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0;
	padding-right: 30px;
}

.perfume {
	letter-spacing: 3px;
	font-size: 12px;
}

.price {
	display: flex;
	gap: 20px;
	align-items: center;
}

.current-price {
	font-family: "Fraunces", serif;
	color: hsl(158, 36%, 37%);
	font-size: 30px;
	font-weight: 700;
	margin: 20px 0;
}

.product-info {
	display: flex;
	flex-direction: column;
	padding: 32px;
	padding-top: 20px;
}

.description {
	margin: 0;
	margin-top: 10px;
}

button {
	background-color: hsl(158, 36%, 37%);
	color: white;
	width: 230px;
	height: 40px;
	border-radius: 10px;
	border: none;
	margin-top: 10px;
	font-weight: 700;
	font-size: 15px;
	font-family: sans-serif;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.buy img {
	width: 15px;
	height: 15px;
}

button:hover {
	background-color: hsl(158, 42%, 18%);
}

@media (max-width: 600px) {
	.card {
		flex-direction: column;
		flex-wrap: wrap;
		width: 85%;
		justify-content: center;
		align-items: center;
	}

	picture {
		width: 100%;
		min-width: 0;
}

	.card picture img {
		width: 100%;
		height: auto;
		max-width: 100%;
		min-height: 0;
		border-radius: 10px 10px 0 0;
		object-fit: cover;
		display: block;
	}


	h1{
		font-size: 26px;
		padding-right: 0;
	}

	.product-info {
		padding: 20px;
	}

	.description {
		margin: 7px 0;
	}

	.current-price {
		margin: 5px 0;
	}
}


